<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>application-identifier</key>
    <string>io.github.visigoth.hkrpc.server</string>
    <key>com.apple.application-identifier</key>
    <string>io.github.visigoth.hkrpc.server</string>
    <key>com.apple.developer.team-identifier</key>
    <string>ZCCU5929AV</string> 
    <key>com.apple.security.app-sandbox</key>
    <true/>
    <key>com.apple.developer.homekit</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
  </dict>
</plist>
